PORT=3103
NODE_ENV=development

OIDC_DISCOVERY_URI=http://localhost:3010/.well-known/openid-configuration
OIDC_CLIENT_ID=fg-grants-platform-admin
APP_BASE_URL=http://localhost:3103
AUTH_COOKIE_PASSWORD=the-password-must-be-at-least-32-characters-long

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=

SESSION_COOKIE_PASSWORD=the-password-must-be-at-least-32-characters-long
SESSION_COOKIE_SECURE=false

TZ=Europe/London
LOG_FORMAT=pino-pretty
