<thead>
  <tr{% if params.testId %} data-testid="{{ params.testId }}"{% endif %}>
    <th scope="col" class="w-[41%] xl:w-[52.5%]">Event</th>
    <th scope="col" class="w-[9%] text-center xl:w-[6.5%]">Service</th>
    <th scope="col" class="w-[21%] text-center xl:w-[18.5%]">Queue</th>
    <th scope="col" class="w-[15%] xl:w-[12.5%]">Status</th>
    <th scope="col" class="w-[14%] text-right xl:w-[10%]">Created</th>
  </tr>
</thead>
