@use "govuk-frontend" as *;

$app-tab-border-width: 1px;

.app-application-tabs {
  margin-bottom: 0;
  border-bottom: $app-tab-border-width solid $govuk-border-colour;
  background-color: transparent;

  .govuk-service-navigation__container,
  .govuk-service-navigation__wrapper {
    padding: 0;
    border: 0;
  }

  .govuk-service-navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0;
    padding: 0;
  }

  .govuk-service-navigation__item {
    margin: 0 govuk-spacing(1) 0 0;
    padding: 0;
    background-color: govuk-colour("black", $variant: "tint-95");

    &::before,
    &::after {
      content: none;
    }
  }

  .govuk-service-navigation__link {
    display: block;
    padding: govuk-spacing(2) govuk-spacing(4);
  }

  .govuk-service-navigation__item--active {
    margin-top: govuk-spacing(-1);
    margin-bottom: -$app-tab-border-width;
    border: $app-tab-border-width solid $govuk-border-colour;
    border-bottom: 0;
    background-color: govuk-colour("white");

    .govuk-service-navigation__link {
      padding: (govuk-spacing(3) - $app-tab-border-width)
        (govuk-spacing(4) - $app-tab-border-width)
        (govuk-spacing(3) + $app-tab-border-width);

      &:not(:focus) {
        color: $govuk-text-colour;
        text-decoration: none;
      }
    }
  }
}
