{# No-JS fallback: the template's own values stand until this has measured. #}
<do-sticky-top class="-mt-5 mb-3 flex flex-col bg-base-200 pt-5 [@media(min-width:64rem)_and_(min-height:40rem)]:sticky [@media(min-width:64rem)_and_(min-height:40rem)]:top-[var(--nav-h,57px)] [@media(min-width:64rem)_and_(min-height:40rem)]:z-20 [@media(min-width:64rem)_and_(min-height:40rem)]:border-b [@media(min-width:64rem)_and_(min-height:40rem)]:border-base-300" data-testid="events-sticky">
  {{ caller() }}
</do-sticky-top>
