{% extends 'layouts/page.njk' %}

{% block htmlClass %} [@media(min-width:64rem)_and_(min-height:40rem)]:scroll-pt-[calc(var(--sticky-top,15rem)+3rem)]{% endblock %}
{% block navbarClass %} top-0 [@media(min-width:64rem)_and_(min-height:40rem)]:sticky [@media(min-width:64rem)_and_(min-height:40rem)]:z-30{% endblock %}
