<header class="defra-header">
  <div class="defra-header__inner">
    <a href="/" class="defra-header__logo-link" title="Go to the homepage" data-testid="defra-heading-logo">
      <img src="{{ params.logoSrc }}" alt="Department for Environment, Food &amp; Rural Affairs" >
      <span class="defra-header__service-name" data-testid="defra-heading-service-name">{{ params.serviceName }}</span>
    </a>
  </div>
</header>
